@keyframes line-item-highlight {
    0% {
        background: rgb(91, 228, 64);
    }

    100% {
        background: none;
    }
}

.line-item-highlight {
    animation: line-item-highlight 1s;
}

.quantity-box {
    display: flex;
    align-items: center;
    padding: 5px;
}

.increment-button,
.decrement-button {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background 0.3s;
}

.increment-button:hover {
    background: #057909;
}

.decrement-button:hover {
    background: #a50202;
}